@font-face {
  font-family: "iconfont"; /* Project id 5024365 */
  src: url('iconfont.woff2?t=1758789307590') format('woff2'),
       url('iconfont.woff?t=1758789307590') format('woff'),
       url('iconfont.ttf?t=1758789307590') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cyuyan:before {
  content: "\e62d";
}

.icon-lnk-f:before {
  content: "\e668";
}

.icon-js1:before {
  content: "\e63c";
}

.icon-tsx:before {
  content: "\e667";
}

.icon-csharp:before {
  content: "\e63a";
}

.icon-jinghao:before {
  content: "\e71a";
}

.icon-svg:before {
  content: "\e891";
}

.icon-cmd:before {
  content: "\e626";
}

.icon-ps1:before {
  content: "\e609";
}

.icon-language-cpp:before {
  content: "\e7c7";
}

.icon-xml:before {
  content: "\e945";
}

.icon-html:before {
  content: "\e6a0";
}

.icon-mysql:before {
  content: "\e9d8";
}

.icon-INI:before {
  content: "\e617";
}

.icon-js:before {
  content: "\ec68";
}

.icon-ico:before {
  content: "\e65e";
}

.icon-txt:before {
  content: "\e60a";
}

.icon-jsx:before {
  content: "\e63b";
}

.icon-png:before {
  content: "\e64e";
}

.icon-py:before {
  content: "\e653";
}

.icon-sh:before {
  content: "\e659";
}

.icon-ts:before {
  content: "\e664";
}

.icon-ttf:before {
  content: "\e665";
}

.icon-bash:before {
  content: "\e693";
}

.icon-bat:before {
  content: "\e694";
}

.icon-env:before {
  content: "\e9f7";
}

.icon-vue:before {
  content: "\e69a";
}

.icon-airbnb:before {
  content: "\e605";
}

.icon-php:before {
  content: "\e708";
}

.icon-dart:before {
  content: "\eb71";
}

.icon-zip-full:before {
  content: "\ea4a";
}

.icon-go:before {
  content: "\e60b";
}

.icon-java:before {
  content: "\e6d7";
}

.icon-YAML:before {
  content: "\e8de";
}

.icon-dockerfile:before {
  content: "\e666";
}

.icon-gitignore:before {
  content: "\e619";
}

.icon-swift:before {
  content: "\e62c";
}

.icon-Toml:before {
  content: "\e69e";
}

.icon-RTF:before {
  content: "\eba4";
}

.icon-json:before {
  content: "\e817";
}

.icon-a-DigitalAssetsManagement:before {
  content: "\e61c";
}

