html,body{
    margin:0;
    overflow:hidden;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
}

.root{
    flex:1;
    top:36px;
    display:flex;
    flex-direction:column;
    align-items: stretch;
    position:fixed;
    height:100%;
    width:100%;
    background-color: #00000985;
    color:white;
}

.titlebar{
    display:flex;
    align-items:center;
    flex-shrink:0;
    height:35px;
    width:100%;
    z-index:initial;
    background-color: #212e41;
    color:rgba(255, 255, 255, 0.664);
    padding-left:12px;
    font-size:14px;
    border-color:dimgray;
    border-width:1px;
    border-style:solid;
    -webkit-app-region: drag;
    user-select: none;
}

.titlebar span{
    display:block;
    align-items:center;
    height:25px;
    width:60px;
    background-color:#212e41;
    padding:5px;
    color:rgba(255, 255, 255, 0.815);
    font-size:14px;
    text-align: center;
    cursor:pointer;
    border-color: #212e41;
    border-radius: 10%;
    -webkit-app-region: no-drag;
}

#title_file{width:35px}
#title_edit{width:35px}
#title_view{width:35px}
#title_help{width:35px}
#ter{width:70px}

.titlebar span:hover{
    background-color:#2c3e50;
}
.content{
    height:100%;
    width:100%;
    display:flex;
    flex-flow: column wrap;
    flex-direction: column;
    margin-left: 60px;
    overflow: auto;
    background-color: #00000996;
    scrollbar-color: #2c3e50 #00000996;
}
#edit-window{
    flex:1;
    height:0;
    position:relative;
    display:flex;
    flex-direction:column;
}